/*Start Global Rules*/
:root{
--main-color:#10cab7;
--secondary-color: #2c4755;
--section-padding: 60px;
--section-background: #f6f6f6;
}
 * { box-sizing : border-box;
 -webkit-box-sizing : border-box;
  -moz-box-sizing : border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Work Sans', sans-serif;
}
.parent{background-color: #eee;}
.container{
width:600px;
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*End global rules*/
/* Start Components */
.special-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
.special-heading + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}
/* End Components */
/*START HEADER*/
.header .container{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 60px;
}
.header .links:hover .icon span:nth-child(2){
  width: 100%;
}
.header .links{
  position: relative;
}
.header .links .icon{
  display: flex;
  width:30px;
  flex-wrap: wrap;
  justify-content:flex-end;
  padding-top: 5px;
}
.header .links .icon span{
  background-color: #333;
  margin-bottom: 5px;
  height:2px;
}
.header .links .icon span:first-child{

  width:100%;
}
.header .links .icon span:nth-child(2){

  width:60%;
  transition:0.3s;
}
.header .links .icon span:last-child{

  width:100%;
}

.header .links ul{
  list-style: none;
    margin: 0;
    padding: 0;
    background-color: #ece4eb;
    POSITION: ABSOLUTE;
    right: 0;
    width: 200px;
    top: calc(100% + 15px);
   display: none;
    z-index: 2;

}
.header .links ul::before{
content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #ece4eb transparent;
  position: absolute;
  top:-20px;
  right: 5px;
}
.header .links ul a{
  display: block;
  padding: 15px;
  text-decoration: none;
  color:#333;
  transition: 0.3s;
}
.header .links ul li:hover{
  padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}

.header .links:hover ul {
  display: block;
}
/*END HEADER*/

/*start landing*/

.landing {
    background-image: url("../images/landing.jpg.jpg");
    background-size: cover;
    height:calc(100vh - 26px);
    position: relative;
}
.landing .intro-text{    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%,-50%);
    width: 320px;
    max-width: 100%;
}

.landing .intro-text h1{
  margin: 0;
  font-weight: bold;
  font-size: 50px;
  color:var(--main-color);

}
.landing .intro-text p{
line-height: 1.8;
font-size: 19px;
}
/*END landing*/
/*start features*/
.features{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: white;
}
.features .container {
  display:grid;
  grid-template-columns: repeat(auto-fill ,minmax(300px,1fr) );
  grid-gap: 20px;
}
.features .feat{
  padding:20px;
  text-align: center;
}
.features .feat i{
  color:var(--main-color);
}
.features .feat h3{
  font-weight: 800px;
  margin:30px 0;
}
.features .feat p{
  line-height: 1.8;
  color: #777;
  font-size: 17px;
}
/*END features*/
/*start services*/
.services{
  padding-top: 60px;
  padding-bottom: 60px;
}
.services .services-content{
  display:grid;
  grid-template-columns:  repeat(auto-fill ,minmax(300px,1fr) );
  grid-gap: 30px;
  margin-top: 100px;
}
.services .services-content .srv{
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .services .services-content .srv {
    flex-direction: column;
    text-align: center;
  }}
.services .services-content .srv i{
  color: var(--main-color);
  flex-basis: 60px;
}
.services .services-content .srv .text{
  flex: 1;
}
.services .services-content .srv h3{
  margin:0 0 20px;
}
.services .services-content .srv p{
  color:#777;
  line-height: 1.7;
}
.services .services-content  .image{
  text-align: center;
  position: relative


}


.services .services-content  .image::before{
  content: "";
  background-color: var(--secondary-color);
width: 100px;
height: calc(100% + 100px);
position: absolute;
top:-50px;
z-index: -1;
right:-10px;
}
@media (max-width:1199px){
  .imagecol{
    display: none;
  }
}
/*END services*/
/*START Portfolio*/
.portfolio{
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}
.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 80px;
}
.portfolio .portfolio-content .card{
  background-color: white;
}
.portfolio .portfolio-content .card .info{
  padding: 20px;
}
.portfolio .portfolio-content .card .info h3{
  margin: 0;
}
.portfolio .portfolio-content .card .info p{
  color: #777;
  line-height: 1.7;
  margin-bottom: 0;
}
/*END PORTFOLIO*/
/*START ABOUT*/
.about{
  padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding)+70px);
}
.about-content{
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about .about-content .image{
  position: relative;
  width:250px;
  height:375px;
}

.about .about-content .image::before  {
  content: "";
  position: absolute;
 background-color: #ebeced;
 width: 100px;
 height: calc(100% + 80px);
 top: -40px;
 left: -20px;
 z-index: -1;
}
.about .about-content .image::after {
  top: -40px;
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    right: -150px;

}
.about .about-content .text{
  flex-basis:calc(100% - 500px);
}
.about .about-content .text p:first-of-type{
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}
.about .about-content .text p:last-of-type{
line-height: 2;
color: #777;
}
.about .about-content .text hr{
  border-color: var(--main-color);
  width:50%;
  display: inline-block;
}

/*END ABOUT*/
/*START Contact*/
.contact{
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}
.contact .info{
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
.contact .info .label{
  font-size: 30px;
  font-weight: bold;
  color: var(--secondary-color);
  letter-spacing:-3px;
  margin-bottom: 15px;
}
.contact .info .link{
  display: block;
  font-size: 30px;
  font-weight: bold;
  color: var(--main-color);
  text-decoration: none;
}
.contact .info .social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
}
.contact .info .social i{
  margin-left: 15px;
  color: var(--main-color);
}
@media(max-width: 767px){
  .contact .info .link,
  .contact .info .label{
    font-size: 25px;
  }
}
/*END Contact*/
/*START FOOTER*/
.footer {
  background-color: var(--secondary-color);
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
}
.footer span {
  font-weight: bold;
  color: var(--main-color);
}
/*END FOOTER*/
